#juego {
	opacity: 0.3; /* transparencia del contenedor */
	width: 400px;  /*medida del ancho del contendor */
	height: 400px; /* altura*/
}

table {
	width: 100%; /*ancho de tabla */
	height: 100%; /* altura*/
}

td {
	width: 25%; /* ancho de filas */
	height: 25%; /* alto de filas */
	background-color: purple;
	border: 3px solid skyblue; /* borde y color de la fila */
	border-radius: 5px; /* borde redondeado */
}

.letra {
	color: white;
	font-size: 40px;
	text-align: center;
	font-style: italic;
}

input {
	width: 90px;  /*  */
	height: 30px;
	background: purple; 
	font-size: 20px;
	font-style: italic; /*tipo de letra*/
	color: white;
}

.centrar {
	margin-left: 105px;
}

